:root {
    font-size: 62.5%;

    --cor1: #7F574D;
    /*usado no header mais acima*/
    --cor2: #F8F6F7;
    /*usado no header e nos cards*/
    --cor3: #5A413C;
    /*usado no fundo dos cards*/
    --cor4: #382926;
    /*usado no footer*/
    --cor5: #BF8B63;
    /*usado em alguns botões*/
    --cor6: #2D2220;
    /*Usado abaixo do footer*/
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.head1 {
    display: flex;
    width: 100%;
    height: 20px;
    padding: 15px;
    background-color: var(--cor1);
    align-items: center;
    justify-content: center;
    color: white;
}

.head2 img {
    height: 100px;
}

.head2 {
    display: flex;
    width: 100%;
    height: 140px;
    padding-top: 10px;
    background-color: var(--cor2);
    align-items: center;
    justify-content: left;
}

.navegação {
    margin: 40px;
    width: 100%;
}

.navegação a {
    text-decoration: inherit;
    color: var(--cor6);
    margin: 40px;
    float: right;
    font-size: 31px;
    font-family: 'Permanent Marker', cursive;
}

.navegação a:hover {
    color: var(--cor5);
    transform: scale(1.10);
}

.imagem_fundo_main {
    background-image: url("../img/imagem_fundo1.jpg"); 
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}

/* Parte do Cardápio */

.cardapiotext{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 60px;
    font-family: 'Nixie One', system-ui;
    color: white;
    padding-top: 7px;
}

.cardapio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 700px;
    width: 100%;
    background-color: var(--cor6);
}

figcaption {
    font-size: 30px;
    text-align: center;
    font-family: 'Nixie One', system-ui;
    font-weight: bolder;
    margin: auto;
    color: black;
}

.descrição_box {

    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F6F7;
    height: 100px;
}

.boxcardápio {
    width: 1000px;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
    height: 600px;
}

.item img {
    height: 450px;
    width: 1000px;
}