:root {
    font-size: 62.5%;

    --cor1: #7F574D;
    /*usado no header mais acima*/
    --cor2: #F8F6F7;
    /*usado no header e nos cards*/
    --cor3: #5A413C;
    /*usado no fundo dos cards*/
    --cor4: #382926;
    /*usado no footer*/
    --cor5: #BF8B63;
    /*usado em alguns botões*/
    --cor6: #2D2220;
    /*Usado abaixo do footer*/
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.head1 {
    display: flex;
    width: 100%;
    height: 20px;
    background-color: var(--cor1);
    align-items: center;
    justify-content: center;
    color: white;
}

.head2 img {
    height: 100px;
}


.head2 {
    display: flex;
    width: 100%;
    height: 140px;
    padding-top: 10px;
    background-color: var(--cor2);
    align-items: center;
    justify-content: left;

}

.navegação {
    margin: 40px;
    width: 100%;
}

.navegação a {
    text-decoration: inherit;
    color: #2D2220;
    margin: 40px;
    font-size: 31px;
    font-family: 'Permanent Marker', cursive;
}

.navegação a:hover {
    background-color: #BF8B63;
    padding: 1px;
}

.head3 {
    width: 1378px;
    height: 300px;
    background-color: var(--cor1);

}

.Cardápio{
    display: flex;
    align-items: center;
    justify-content: center;
}


figure{
    border: 5px solid black;
    
}

figcaption{
    font-size: 20px;
    text-align: center;
  }


.boxcardápio{
    width: 400px;    
    align-items: center;
    justify-content: center;
  
}


.itembox{
    
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F6F7;
}


.item img{
    height: 300px;
    width: 400px;
}




/* aside{
    float: right;
    height: 550px;
    width: 500px;
    background-size: cover;
    background-image: url(https://img.freepik.com/fotos-premium/uma-vitrine-de-chocolate-com-uma-barra-de-chocolate-dentro_853115-469.jpg);
}

#nome{
  text-align: center;
  display: flex;
  margin: auto;
  border-radius: 10px;
  font-size:30px ;
  background-color: #2D2220;
  color: white;
  
 
}

#nome::placeholder{
  background-color: #2D2220;
  background-blend-mode:  screen;
  color: white;
}

aside h2{
    text-align: center;
  
    color: white;
    font-size: 50px;
} */